@using Cashier.Models.Articles
@model ArticleViewModel

<h1>Article: @Model.Name</h1>
<div class="row">
    <div class="card mb-3">
        <img class="card-img-top" src="data:image;base64,@Model.ImgSrc" alt="@Model.Description">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.Description</p>
            <p class="card-text">Price: @Model.Price</p>
            
        </div>
        <div class="card-footer text-muted">
            Manufacturer: @Model.Manufacturer, @Model.Country
        </div>
    </div>
</div>